<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Игры</title>
</head>
<body>
    
<h2>
    {{descriptionValue}}
</h2>

{{#each gamesArray}}
    <div style="background: yellow; margin-bottom: 15px; padding: 8px;">
        Игра: {{this.a}} 
        <br>
        Возрастовое ограничение: {{this.b}} 
    </div>
{{/each}}

</body>
</html>