<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Игры</title>
</head>
<body>
    
<h2>
    {{descriptionValue}}
</h2>

<div style="background: yellow; margin-bottom: 15px; padding: 8px;">
    Логин: {{username}} 
</div>

<div style="background: yellow; margin-bottom: 15px; padding: 8px;">
    Возрасть: {{age}} 
</div>

<div style="background: yellow; margin-bottom: 15px; padding: 8px;">
    Хобби: {{hobby}} 
</div>

<a href="/logout">log out</a>

</body>
</html>